* {
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;

  body {
    background: url(../img/bg.jpg) center fixed;

    header {
      background-image: $bgGradient;
      nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        border-bottom: 3px solid $bordeBottomRed;
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
        padding-top: 20px;
        padding-bottom: 20px;

        @media screen and (max-width: 700px) {
          text-align: center;
          width: 100%;
        }

        button {
          margin-top: 50px;
          padding: 5px;
          color: $bgContainer;
          background-color: $bgButton;
          border: 3px double $borderButton;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            background-color: $buttonHover;
          }
        }

        img {
          @media screen and (max-width: 650px) {
            width: 95%;
          }
        }

        input {
          width: 200px;
          height: 30px;
          border: none;
          margin-bottom: 40px;

          &:focus {
            outline: none;
          }
        }
      }
    }
    main {
      color: $white;
      margin-bottom: 50px;

      .add_character_button {
        padding: 10px;
        margin-bottom: 50px;
      }

      text-align: center;
      .container_characters {
        display: flex;
        flex-flow: row wrap;
        gap: 60px;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;

        .container_character {
          @include character_container;

          &:hover {
            box-shadow: 0 0 20px 0px;
          }

          .divImg {
            @include div_img;
            img {
              @include imgage;
            }
          }

          h2 {
            @include title_container;
          }

          p {
            @include description_container;
          }

          button {
            @include button_Container;

            &:hover {
              @include hover;
            }
          }
        }
      }

      .container_Search {
        @include character_container;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 30px;

        &:hover {
          box-shadow: 0 0 20px 0px;
        }

        .divImg {
          @include div_img;
          img {
            @include imgage;
          }
        }

        h2 {
          @include title_container;
        }

        p {
          @include description_container;
        }

        button {
          @include button_Container;

          &:hover {
            @include hover;
          }
        }
      }

      .add_character {
        background-color: $bgContainer;
        border: 5px double $borderContainer;
        box-shadow: 0 0 10px 0px;
        border-radius: 15px;
        width: 600px;
        padding: 30px;
        margin: auto;
        display: none;
        transition: 0.5s;

        &:hover {
          box-shadow: 0 0 20px 0px;
        }

        input {
          &:focus {
            outline: none;
          }
        }

        textarea {
          height: 60px;
          &:focus {
            outline: none;
          }
        }

        @media screen and (max-width: 700px) {
          width: 80%;
        }
      }

      .update_character {
        background-color: $bgContainer;
        border: 5px double $borderContainer;
        box-shadow: 0 0 10px 0px;
        border-radius: 15px;
        width: 600px;
        padding: 30px;
        margin: auto;
        display: none;
        transition: 0.2s;

        &:hover {
          box-shadow: 0 0 20px 0px;
        }

        input {
          &:focus {
            outline: none;
          }
        }

        textarea {
          height: 60px;
          &:focus {
            outline: none;
          }
        }

        @media screen and (max-width: 700px) {
          width: 80%;
        }
      }

      .full_profile {
        display: none;
        width: 800px;
        border: 5px double $borderContainer;
        box-shadow: 0 0 10px 0px;
        background-color: $bgContainer;
        border-radius: 15px;
        margin: auto;
        text-align: center;
        transition: 0.2s;

        &:hover {
          box-shadow: 0 0 20px 0px;
        }

        @media screen and (max-width: 900px) {
          width: 80%;
        }

        .Container_img_title {
          display: flex;
          flex-flow: wrap;
          justify-content: center;
          gap: 50px;
          align-items: center;
          margin-bottom: 50px;
          padding-top: 10px;
          padding-bottom: 20px;
          background-image: $bgGradient;
          img {
            border: 5px double $borderContainer;
            box-shadow: 0 0 10px 0px;
            border-radius: 50%;
          }

          h2 {
            font-size: xx-large;
          }
        }

        p {
          width: 80%;
          text-align: center;
          margin: auto;
          margin-bottom: 50px;
          color: $textColor;
        }

        .short_description {
          font-size: large;
          font-weight: bold;
        }

        button {
          padding: 5px;
          margin: auto;
          margin-bottom: 20px;
          display: block;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      .return {
        visibility: hidden;
        width: 100px;
        margin-bottom: 30px;
      }

      button {
        padding: 8px;
        width: 150px;
        background-color: $bgButton;
        border: 3px double $bgButton;
        cursor: pointer;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
          @include hover;
        }
      }
    }
  }
}
